.App {
  text-align: center;
  /* color: #ffffff; */
}
body {
  background-color: #f3f4f6;
}
.subTitle {
  /* border: 1px solid white; */
  padding: 4px 15px;
  border-bottom: 3px solid #F2AA4CFF;
  color: #ffffff;
  font-size: 25px;
  width: auto;
  /* border: 1px solid white; */
  font-weight: 600;
}
